.App {}


.App-header {
  padding: 8px 0px 0px 21px;
  display: flex;
  gap: 17px;
  align-items: center;
}

.logo-header {
  width: 30.97px;
  height: 30.97px;
}

.title-header {
  margin: 0px !important;
}

.title-header {
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #7E8185;

}