@font-face {
  font-family: sfProText;
  src: url("./assets/fonts/SF-Pro-Text-Regular.otf");
}

body {
  margin: 0;
  font-family: 'sfProText' !important;
  background-color: #F6F6F8;
}
input{
  font-family: 'sfProText' !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
