@font-face {
  font-family: sfProText;
  src: url("./assets/fonts/SF-Pro-Text-Regular.otf") format("opentype");
}

body {
  margin: 0;
  font-family: 'sfProText';
  background-color: #F6F6F8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
